@include above($tablet-sm){

  [data-aos], [data-aos][data-aos-easing=ease-in-out], body[data-aos-easing=ease-in-out] [data-aos]{
    transition-timing-function: ease-in-out;
    transition-duration: 0.6s;
    transition-delay: 0s;
    opacity: 0;
  }
  
  section.animate{
    opacity: 0;
    transition: 1s all ease;
    transition-delay: 0s;
    transform: translateY(250px);
    &.visible{
      opacity: 1;
      transform: translateY(0px);
    }
  }

}

@include below($tablet-sm){
  [data-aos], [data-aos][data-aos-easing=ease-in-out], body[data-aos-easing=ease-in-out] [data-aos]{
    opacity: 1 !important;
    transform: none !important;
  }
}