@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham-Bold.woff2') format('woff2'),
      url('../fonts/gotham-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/gotham-Book.woff2') format('woff2'),
      url('../fonts/gotham-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham-Bold.woff2') format('woff2'),
      url('../fonts/gotham-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham-Black.woff2') format('woff2'),
      url('../fonts/gotham-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham-Black.woff2') format('woff2'),
      url('../fonts/gotham-Black.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/gotham-Book.woff2') format('woff2'),
      url('../fonts/gotham-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham-Medium.woff2') format('woff2'),
      url('../fonts/gotham-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham-Medium.woff2') format('woff2'),
      url('../fonts/gotham-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham-Light.woff2') format('woff2'),
      url('../fonts/gotham-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Condensed Book';
  src: url('../fonts/gothamCondensed-Book.woff2') format('woff2'),
      url('../fonts/gothamCondensed-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Narrow';
  src: url('../fonts/gothamNarrow-Medium.woff2') format('woff2'),
      url('../fonts/gothamNarrow-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Narrow Book';
  src: url('../fonts/gothamNarrow-Book.woff2') format('woff2'),
      url('../fonts/gothamNarrow-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Narrow';
  src: url('../fonts/gothamNarrow-Bold.woff2') format('woff2'),
      url('../fonts/gothamNarrow-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Narrow';
  src: url('../fonts/gothamNarrow-MediumItalic.woff2') format('woff2'),
      url('../fonts/gothamNarrow-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/*------------------*
# Headings
*------------------*/

/*
 * Uniform spacing and color for headings
*/

html, body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

h1, h2, h3, h4, h5, h6, button{
  font-family: $base-font-family;
}

p{
  font-family: $content-font-family;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 25px;
  &:last-child{
    margin-bottom: 0;
  }
}
ul, ol, span, address{
  font-family: $content-font-family;
  font-weight: normal;
}



